
<div class="container">
    <mat-card class="example-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title> {{product.name}} </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="product.url_img"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p> {{product.description}} </p>
        <p *ngIf="product.stock > 0 " > {{product.price | currency:'COP' }} </p>
        <p style="color: brown;" *ngIf="product.stock <= 0 " > Alert!! <br> out of stock</p>
       
      </mat-card-content>
      <mat-card-actions>
        <button 
        (click)="deleteProductWish(product.id,product.name)"
        color="warn"
        mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon  aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
        </button>
        <button mat-mini-fab 
        (click)="addCart(product.id,product.name)"
        [disabled]="product.stock <= 0 "
        color="Basic" 
        aria-label="Example icon button with a home icon">
          <mat-icon  aria-hidden="false" 
          aria-label="Example home icon">add_shopping_cart</mat-icon>
        </button>
        
      </mat-card-actions>
    </mat-card>
  </div>

  <div *ngIf="products.length < 1" class="container">
    <h1>You have not added products to your wish list!!</h1>
  </div>
  