img{
    width: 200px;
    height: 100px;
  }
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;

}
.example-card{
  text-align: center;
}
.example-card button{
  margin: 5px;
}