
<div class="container">
    <mat-card class="example-card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title> {{product.name}} </mat-card-title>
      </mat-card-header>
      <img
        mat-card-image
        [src]="product.url_img"
        alt="Photo of a Shiba Inu"
      />
      <mat-card-content>
        <p> {{product.description}} </p>
        <p *ngIf="product.stock > 0 " > {{product.price | currency:'COP' }} </p>
        <p style="color: brown;" *ngIf="product.stock <= 0 " > Alert!! <br> out of stock</p>
       
      </mat-card-content>
      <mat-card-actions>
        <button 
        (click)="deleteProductCart(product.id,product.name)"
        color="warn"
        mat-mini-fab  aria-label="Example icon button with a home icon">
          <mat-icon  aria-hidden="false" aria-label="Example home icon">remove_shopping_cart</mat-icon>
        </button>
      
        
      </mat-card-actions>
    </mat-card>
  </div>
<br>
  <div *ngIf="products.length > 0" class="container">
    <h1>Total = {{total | currency:'COP'}}  </h1>
  </div>
  <div class="pay" *ngIf="products.length > 0">
    <button [matTooltip]="'Pay everything '+total " mat-fab color="Orange" aria-label="Example icon button with a delete icon">
      <mat-icon>paid</mat-icon>
    </button>
  </div>
  <div *ngIf="products.length < 1" class="container">
    <h1>You have not added products to your shopping cart</h1>
  </div>
  